<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.evolution.modules.website.mapper.WebsiteMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.evolution.modules.website.entities.Website">
        <id column="row_id" property="rowId" />
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />
        <result column="version" property="version" />
        <result column="title" property="title" />
        <result column="desc" property="desc" />
        <result column="url" property="url" />
        <result column="login_act" property="loginAct" />
        <result column="login_pword" property="loginPword" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        row_id, create_date, update_date, version, title, desc, url, login_act, login_pword
    </sql>

</mapper>
